.profile_img {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='yellow' stroke-width='4' stroke-dasharray='19%2c 57' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.btn {
  padding: 10px 20px;
  color: var(--primary);
  border-radius: 26px;
  border-width: 2px;
  border-style: solid;
  border-color: var(--tertiary);
}

.btn-round {
  height: 37px;
  width: 37px;
  padding: 8px;
  border-radius: 50%;
  color: var(--secondary);
  border-width: 2px;
  border-style: solid;
  border-color: var(--tertiary);
}

.btn:hover,
.btn-round:hover {
  cursor: pointer;
  border-color: var(--primary);
  color: var(--primary);
}

.home_btn_container {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.home_btn_container .btn-round {
  margin-left: 20px;
}

.home_btn_container div:hover > svg {
  stroke: var(--primary);
}
.home_btn_container svg {
  stroke: var(--secondary);
}

.home_heading {
  font-size: 80px;
}

@media screen and (max-width: 700px) {
  .home-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .home_heading {
    font-size: 40px;
  }
}

@media screen and (max-width: 480px) {
  .home_btn_container > div:last-child {
    margin-bottom: 20px;
  }
  .home_btn_container {
    flex-direction: column-reverse;
  }
}
