.navbar_container {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.menu_item_container {
  display: flex;
  align-items: center;
}

.menu_item_container li:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.menu_item_container li:hover:after {
  width: 100%;
}
.menu_item_container li:hover {
  color: var(--primary);
  cursor: pointer;
}
.menu_item_container li {
  position: relative;
  margin-left: 40px;
}

.active {
  li {
    color: var(--primary);
  }
  li::after {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .menu_item_container {
    flex-direction: column;
    margin-left: unset;
  }
}
