.navbar_container {
  display: flex;
  padding: 20px 0;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.menu_item_container {
  display: flex;
  align-items: center;
}

.menu_item_container li:after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.menu_item_container li:hover:after {
  width: 100%;
}
.menu_item_container li:hover {
  color: var(--primary);
  cursor: pointer;
}
.menu_item_container li {
  position: relative;
  margin-left: 40px;
}

.active {
  li {
    color: var(--primary);
  }
  li::after {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar_container {
    position: relative;
  }
  .menu_item_container {
    flex-direction: column;
    margin-left: unset;
    flex: 1;
    /* From https://css.glass */
    background: rgb(64 27 77 / 20%);
    box-shadow: 0 4px 30px #1c1c1c1a;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    bottom: 0;
    z-index: 10;
    padding: 20px;
    transition: all 0.3s ease;
  }

  #menu_toggler:checked ~ .menu_item_container {
    left: 0;
  }
  #menu_open,
  #menu_close {
    display: none;
  }
  #menu_toggler:checked ~ .menu_icon #menu_close {
    display: inline-block;
  }

  #menu_toggler:not(:checked) ~ .menu_icon #menu_open {
    display: inline-block;
  }

  .menu_item_container a {
    width: 100%;
  }

  .menu_item_container li {
    padding: 10px;
    margin-left: unset;
  }
}
